
# Main executable and build folder
rosetta
build/*

# Exlcuding config file, since it's automatically created during first execution
rosetta.config

# Excluding testing certificate and private key
server.crt
server.key
